<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<type name='Magento\Framework\Console\CommandListInterface'>
		<arguments>
			<argument name='commands' xsi:type='array'>
				<item name='TFC\Image\Command\C1' xsi:type='object'>TFC\Image\Command\C1</item>
				<item name='TFC\Image\Command\C2' xsi:type='object'>TFC\Image\Command\C2</item>
			</argument>
		</arguments>
	</type>
</config>